<!DOCTYPE html	>
<html lang="en">
	<head>
		<title>About Alpha Blog</title>
    <%= stylesheet_link_tag "app\assets\stylesheets\mystyles.css" %>
	</head>

	<body class="body">

		<!--div class="container" -->
			<div class="container">
				<header>
			  	<div class="centerDiv">
			  		<h1>About Alpha Blog</h1>
			  		<h3>A Ruby on Rails Application</h3>
		  	  </div>
		  	  <div class="centerLogo">
		  	  	<%= link_to image_tag('https://www.apolloenergiesinc.com/images/AE-Logo-2.png', :size => "160x160"), 'www.apolloenergiesinc.com' %>	
			  	</div>
				</header>
				<div style="clear:both"></div>
				<section>
				  <nav>
						<ul>
							<li><%= link_to 'Home', root_path %></li>
							<li><a class="active" <%= link_to 'About', about_path %></li>
							</ul>
			  	</nav>
			  </section>
				<div style="float:left;width:100%;"> 
  				<div class="content">
	  	  	  <section>
		  	  		<p style="padding-bottom:300px;">
			  	  		This is the About Page
				    	</p>
			      </section>
	  	    </div>
	  	    <div>
				    <footer>
				       Copyright &copy;  <%= Date.current.year %>
				    </footer>
	  	    </div>
				</div>
	  	</div>
	</body>

</html>
